body, html{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.navMenu{
  position: fixed;
  top: 0;
}

.navMenu > a{
  color: black;
  float: left;
  padding: 15px;
  text-decoration: none; /*deletes url or any unwanted label on font*/
}

#clock {
  font-size: 75px;
  width: 500px;
  margin: 100px;
  text-align: center;
  border: 10px solid red;
  border-radius: 20px;
}

.background{
  background-image: url(https://d16yj43vx3i1f6.cloudfront.net/uploads/2020/08/GettyImages-1184804554.jpg);
  background-repeat: no-repeat; /*does not repeat the loaded image*/
  background-attachment: fixed; /*so that the background does not move as the
                                user scrolls*/
  background-size: cover; /*scale the width and height of a responsive
                            background image to be the same or bigger size
                            than the screen*/
  background-position: center, center;
  position: relative;
  height: 760px;
}


.backgroundFont{
  text-align: center;
  position: absolute; /*centering fonts in the middle*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
/*----------------------------------------*/
.bodyContent{
  text-align: center;
  background-color: #EFF8FB;
}

.bodyContent > h3 {
  font-size: 20px;
  padding-top: 15px;
  margin: 0px;
  color: black;
}

.bodyContent > p {
  color: black;
}